<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Test Suite" parallel="methods" thread-count="3">

    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>

    <test name="Selected Login Tests">

        <classes>
            <class name="tests.POMLoginTest"/>
            <class name="tests.NegativeLoginTest"/>
        </classes>

    </test>

</suite>